<div class="content">
  <mat-form-field>
    <mat-label>Movie Type</mat-label>
    <mat-select (selectionChange)="dropdownOnChange($event.value)">
      <mat-option *ngFor="let type of typeList" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex="20%"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let movie of movies"
    >
      <mat-card class="mat-elevation-z4">
        <img height="250" mat-card-image src="{{ movie.image }}" />
        <mat-card-header>
          <mat-card-title>{{ movie.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span style="color: rgb(240, 199, 13); padding: 5px">
            <mat-icon>star</mat-icon>
          </span>
          <label style="font-size: 20px; padding: 5px">
            <ng-container *ngIf="movie.ratings">
              {{ getRating(movie.ratings) | number: "1.2-2" }}
            </ng-container>
          </label>
          <span style="color: rgb(29, 140, 209); padding: 40px">
            <a
              color="accent"
              (click)="openDialogForRating(movie._id, movie.title)"
              ><mat-icon>star_border</mat-icon></a
            >
          </span>
          <p>
            {{
              movie.description.length > 50
                ? (movie.description | slice: 0:50) + "..."
                : movie.description
            }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">LIKE</button>
          <button mat-raised-button color="primary" (click)="onDetails(movie)">
            Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
